<!-- <p>quote-details works!</p> -->
<p class="author">Author is {{ quote.author }}</p>
<p class="author">Submited by {{ quote.submittedBy }}</p>
<p>{{ quote.upVote }}</p>
<button class="btn btn-success " (click)="upVote()">Likes</button>

<p>{{ quote.downVote }}</p>
<button class="btn btn-success " (click)="quote.downVote = quote.downVote + 1">
  Dislikes</button
><br />
<p>This Quote will be completed in {{ quote.completeDate | dateCount }} days</p>
<button
  class="btn 
.btn-info "
  (click)="quoteDelete(true)"
>
  Delete
</button>
